
用户侧边栏
<ul>
    <li><a href="/users">我的首页</a></li>
    <li><a href="/users/posts">我的发帖</a></li>
    <li><a href="/users/getReplies">收到回复</a></li>
    <li><a href="/users/sendReplies">我的回复</a></li>
    <li><a href="/posts/add">发帖</a></li>
</ul>
